# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Node
node_modules/
npm-debug.log

# App
logs/
*.db
*.sqlite3
.env
.env.*
.coverage
htmlcov/
pytest_cache/
.pytest_cache/
pef_docker_build/
tmp/

# Releases
releases/

# Internal Tools
license_manager/

# Sensitive Data & Backups
data/
*.sql
*.sql.gz
*.bak
*.backup
logs/backups/
