fastapi
uvicorn
celery
redis
sqlmodel
psycopg2-binary
pydantic-settings
requests
dnspython
playwright
jinja2
python-multipart
aiofiles

ipwhois
fpdf2
pandas
openpyxl
python-whois
Pillow
imagehash
tldextract
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
pyotp
markdown
croniter==6.0.0
networkx
matplotlib
