[Desktop Entry]
Version=1.0
Type=Application
Name=YADS Release Manager
Comment=Manage Releases for YADS Security Platform
Exec="/home/mrmarco/Documents/gitlab/yads/tools/start.sh"
Icon=/home/mrmarco/Documents/gitlab/yads/tools/yads_release_manager_logo.png
Terminal=false
Categories=Development;Utility;Security;
StartupNotify=true
StartupWMClass=yads-release-manager
